<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eg.egsc.scp.parkinglotcomponent.mapper.ParkAccessCurMapper" >
  <resultMap id="BaseResultMap" type="com.eg.egsc.scp.parkinglotcomponent.mapper.entity.ParkAccessCur" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="car_num" property="carNum" jdbcType="VARCHAR" />
    <result column="owner_id" property="ownerId" jdbcType="VARCHAR" />
    <result column="park_code" property="parkCode" jdbcType="VARCHAR" />
    <result column="card_number" property="cardNumber" jdbcType="VARCHAR" />
    <result column="carport_type" property="carportType" jdbcType="SMALLINT" />
    <result column="park_package_id" property="parkPackageId" jdbcType="VARCHAR" />
    <result column="in_camera_code" property="inCameraCode" jdbcType="VARCHAR" />
    <result column="in_channel_id" property="inChannelId" jdbcType="VARCHAR" />
    <result column="in_img_url" property="inImgUrl" jdbcType="VARCHAR" />
    <result column="in_num_url" property="inNumUrl" jdbcType="VARCHAR" />
    <result column="in_memo" property="inMemo" jdbcType="VARCHAR" />
    <result column="enter_mode" property="enterMode" jdbcType="SMALLINT" />
    <result column="need_pay" property="needPay" jdbcType="SMALLINT" />
    <result column="payed_money" property="payedMoney" jdbcType="INTEGER" />
    <result column="car_type" property="carType" jdbcType="SMALLINT" />
    <result column="car_mode" property="carMode" jdbcType="VARCHAR" />
    <result column="court_uuid" property="courtUuid" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    uuid, car_num, owner_id, park_code, card_number, carport_type, park_package_id, in_camera_code, 
    in_channel_id, in_img_url, in_num_url, in_memo, enter_mode, need_pay, payed_money, 
    car_type, car_mode, court_uuid, create_time, update_time, create_user, update_user
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.eg.egsc.scp.parkinglotcomponent.mapper.entity.ParkAccessCurCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from plc.park_access_cur
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from plc.park_access_cur
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from plc.park_access_cur
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.eg.egsc.scp.parkinglotcomponent.mapper.entity.ParkAccessCurCriteria" >
    delete from plc.park_access_cur
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eg.egsc.scp.parkinglotcomponent.mapper.entity.ParkAccessCur" >
    insert into plc.park_access_cur (uuid, car_num, owner_id, 
      park_code, card_number, carport_type, 
      park_package_id, in_camera_code, in_channel_id, 
      in_img_url, in_num_url, in_memo, 
      enter_mode, need_pay, payed_money, 
      car_type, car_mode, court_uuid, 
      create_time, update_time, create_user, 
      update_user)
    values (#{uuid,jdbcType=VARCHAR}, #{carNum,jdbcType=VARCHAR}, #{ownerId,jdbcType=VARCHAR}, 
      #{parkCode,jdbcType=VARCHAR}, #{cardNumber,jdbcType=VARCHAR}, #{carportType,jdbcType=SMALLINT}, 
      #{parkPackageId,jdbcType=VARCHAR}, #{inCameraCode,jdbcType=VARCHAR}, #{inChannelId,jdbcType=VARCHAR}, 
      #{inImgUrl,jdbcType=VARCHAR}, #{inNumUrl,jdbcType=VARCHAR}, #{inMemo,jdbcType=VARCHAR}, 
      #{enterMode,jdbcType=SMALLINT}, #{needPay,jdbcType=SMALLINT}, #{payedMoney,jdbcType=INTEGER}, 
      #{carType,jdbcType=SMALLINT}, #{carMode,jdbcType=VARCHAR}, #{courtUuid,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eg.egsc.scp.parkinglotcomponent.mapper.entity.ParkAccessCur" >
    insert into plc.park_access_cur
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="carNum != null" >
        car_num,
      </if>
      <if test="ownerId != null" >
        owner_id,
      </if>
      <if test="parkCode != null" >
        park_code,
      </if>
      <if test="cardNumber != null" >
        card_number,
      </if>
      <if test="carportType != null" >
        carport_type,
      </if>
      <if test="parkPackageId != null" >
        park_package_id,
      </if>
      <if test="inCameraCode != null" >
        in_camera_code,
      </if>
      <if test="inChannelId != null" >
        in_channel_id,
      </if>
      <if test="inImgUrl != null" >
        in_img_url,
      </if>
      <if test="inNumUrl != null" >
        in_num_url,
      </if>
      <if test="inMemo != null" >
        in_memo,
      </if>
      <if test="enterMode != null" >
        enter_mode,
      </if>
      <if test="needPay != null" >
        need_pay,
      </if>
      <if test="payedMoney != null" >
        payed_money,
      </if>
      <if test="carType != null" >
        car_type,
      </if>
      <if test="carMode != null" >
        car_mode,
      </if>
      <if test="courtUuid != null" >
        court_uuid,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="carNum != null" >
        #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null" >
        #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="parkCode != null" >
        #{parkCode,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null" >
        #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="carportType != null" >
        #{carportType,jdbcType=SMALLINT},
      </if>
      <if test="parkPackageId != null" >
        #{parkPackageId,jdbcType=VARCHAR},
      </if>
      <if test="inCameraCode != null" >
        #{inCameraCode,jdbcType=VARCHAR},
      </if>
      <if test="inChannelId != null" >
        #{inChannelId,jdbcType=VARCHAR},
      </if>
      <if test="inImgUrl != null" >
        #{inImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="inNumUrl != null" >
        #{inNumUrl,jdbcType=VARCHAR},
      </if>
      <if test="inMemo != null" >
        #{inMemo,jdbcType=VARCHAR},
      </if>
      <if test="enterMode != null" >
        #{enterMode,jdbcType=SMALLINT},
      </if>
      <if test="needPay != null" >
        #{needPay,jdbcType=SMALLINT},
      </if>
      <if test="payedMoney != null" >
        #{payedMoney,jdbcType=INTEGER},
      </if>
      <if test="carType != null" >
        #{carType,jdbcType=SMALLINT},
      </if>
      <if test="carMode != null" >
        #{carMode,jdbcType=VARCHAR},
      </if>
      <if test="courtUuid != null" >
        #{courtUuid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eg.egsc.scp.parkinglotcomponent.mapper.entity.ParkAccessCurCriteria" resultType="java.lang.Integer" >
    select count(*) from plc.park_access_cur
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update plc.park_access_cur
    <set >
      <if test="record.uuid != null" >
        uuid = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.carNum != null" >
        car_num = #{record.carNum,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerId != null" >
        owner_id = #{record.ownerId,jdbcType=VARCHAR},
      </if>
      <if test="record.parkCode != null" >
        park_code = #{record.parkCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cardNumber != null" >
        card_number = #{record.cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.carportType != null" >
        carport_type = #{record.carportType,jdbcType=SMALLINT},
      </if>
      <if test="record.parkPackageId != null" >
        park_package_id = #{record.parkPackageId,jdbcType=VARCHAR},
      </if>
      <if test="record.inCameraCode != null" >
        in_camera_code = #{record.inCameraCode,jdbcType=VARCHAR},
      </if>
      <if test="record.inChannelId != null" >
        in_channel_id = #{record.inChannelId,jdbcType=VARCHAR},
      </if>
      <if test="record.inImgUrl != null" >
        in_img_url = #{record.inImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.inNumUrl != null" >
        in_num_url = #{record.inNumUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.inMemo != null" >
        in_memo = #{record.inMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.enterMode != null" >
        enter_mode = #{record.enterMode,jdbcType=SMALLINT},
      </if>
      <if test="record.needPay != null" >
        need_pay = #{record.needPay,jdbcType=SMALLINT},
      </if>
      <if test="record.payedMoney != null" >
        payed_money = #{record.payedMoney,jdbcType=INTEGER},
      </if>
      <if test="record.carType != null" >
        car_type = #{record.carType,jdbcType=SMALLINT},
      </if>
      <if test="record.carMode != null" >
        car_mode = #{record.carMode,jdbcType=VARCHAR},
      </if>
      <if test="record.courtUuid != null" >
        court_uuid = #{record.courtUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update plc.park_access_cur
    set uuid = #{record.uuid,jdbcType=VARCHAR},
      car_num = #{record.carNum,jdbcType=VARCHAR},
      owner_id = #{record.ownerId,jdbcType=VARCHAR},
      park_code = #{record.parkCode,jdbcType=VARCHAR},
      card_number = #{record.cardNumber,jdbcType=VARCHAR},
      carport_type = #{record.carportType,jdbcType=SMALLINT},
      park_package_id = #{record.parkPackageId,jdbcType=VARCHAR},
      in_camera_code = #{record.inCameraCode,jdbcType=VARCHAR},
      in_channel_id = #{record.inChannelId,jdbcType=VARCHAR},
      in_img_url = #{record.inImgUrl,jdbcType=VARCHAR},
      in_num_url = #{record.inNumUrl,jdbcType=VARCHAR},
      in_memo = #{record.inMemo,jdbcType=VARCHAR},
      enter_mode = #{record.enterMode,jdbcType=SMALLINT},
      need_pay = #{record.needPay,jdbcType=SMALLINT},
      payed_money = #{record.payedMoney,jdbcType=INTEGER},
      car_type = #{record.carType,jdbcType=SMALLINT},
      car_mode = #{record.carMode,jdbcType=VARCHAR},
      court_uuid = #{record.courtUuid,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.eg.egsc.scp.parkinglotcomponent.mapper.entity.ParkAccessCur" >
    update plc.park_access_cur
    <set >
      <if test="carNum != null" >
        car_num = #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null" >
        owner_id = #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="parkCode != null" >
        park_code = #{parkCode,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null" >
        card_number = #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="carportType != null" >
        carport_type = #{carportType,jdbcType=SMALLINT},
      </if>
      <if test="parkPackageId != null" >
        park_package_id = #{parkPackageId,jdbcType=VARCHAR},
      </if>
      <if test="inCameraCode != null" >
        in_camera_code = #{inCameraCode,jdbcType=VARCHAR},
      </if>
      <if test="inChannelId != null" >
        in_channel_id = #{inChannelId,jdbcType=VARCHAR},
      </if>
      <if test="inImgUrl != null" >
        in_img_url = #{inImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="inNumUrl != null" >
        in_num_url = #{inNumUrl,jdbcType=VARCHAR},
      </if>
      <if test="inMemo != null" >
        in_memo = #{inMemo,jdbcType=VARCHAR},
      </if>
      <if test="enterMode != null" >
        enter_mode = #{enterMode,jdbcType=SMALLINT},
      </if>
      <if test="needPay != null" >
        need_pay = #{needPay,jdbcType=SMALLINT},
      </if>
      <if test="payedMoney != null" >
        payed_money = #{payedMoney,jdbcType=INTEGER},
      </if>
      <if test="carType != null" >
        car_type = #{carType,jdbcType=SMALLINT},
      </if>
      <if test="carMode != null" >
        car_mode = #{carMode,jdbcType=VARCHAR},
      </if>
      <if test="courtUuid != null" >
        court_uuid = #{courtUuid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eg.egsc.scp.parkinglotcomponent.mapper.entity.ParkAccessCur" >
    update plc.park_access_cur
    set car_num = #{carNum,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=VARCHAR},
      park_code = #{parkCode,jdbcType=VARCHAR},
      card_number = #{cardNumber,jdbcType=VARCHAR},
      carport_type = #{carportType,jdbcType=SMALLINT},
      park_package_id = #{parkPackageId,jdbcType=VARCHAR},
      in_camera_code = #{inCameraCode,jdbcType=VARCHAR},
      in_channel_id = #{inChannelId,jdbcType=VARCHAR},
      in_img_url = #{inImgUrl,jdbcType=VARCHAR},
      in_num_url = #{inNumUrl,jdbcType=VARCHAR},
      in_memo = #{inMemo,jdbcType=VARCHAR},
      enter_mode = #{enterMode,jdbcType=SMALLINT},
      need_pay = #{needPay,jdbcType=SMALLINT},
      payed_money = #{payedMoney,jdbcType=INTEGER},
      car_type = #{carType,jdbcType=SMALLINT},
      car_mode = #{carMode,jdbcType=VARCHAR},
      court_uuid = #{courtUuid,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.eg.egsc.scp.parkinglotcomponent.mapper.entity.ParkAccessCurCriteria" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from plc.park_access_cur
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>