<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eg.egsc.scp.parkinglotcomponent.mapper.ParkParkedHisMapper" >
  <resultMap id="BaseResultMap" type="com.eg.egsc.scp.parkinglotcomponent.mapper.entity.ParkParkedHis" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="device_code" property="deviceCode" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="map_id" property="mapId" jdbcType="VARCHAR" />
    <result column="carport_code" property="carportCode" jdbcType="VARCHAR" />
    <result column="car_num" property="carNum" jdbcType="VARCHAR" />
    <result column="car_num_color" property="carNumColor" jdbcType="VARCHAR" />
    <result column="car_color" property="carColor" jdbcType="VARCHAR" />
    <result column="car_mark" property="carMark" jdbcType="VARCHAR" />
    <result column="owner_id" property="ownerId" jdbcType="VARCHAR" />
    <result column="park_start" property="parkStart" jdbcType="TIMESTAMP" />
    <result column="park_date" property="parkDate" jdbcType="TIMESTAMP" />
    <result column="alarm_status" property="alarmStatus" jdbcType="SMALLINT" />
    <result column="park_type" property="parkType" jdbcType="SMALLINT" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="court_uuid" property="courtUuid" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    uuid, device_code, device_name, map_id, carport_code, car_num, car_num_color, car_color, 
    car_mark, owner_id, park_start, park_date, alarm_status, park_type, img_url, court_uuid, 
    create_time, update_time, create_user, update_user
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.eg.egsc.scp.parkinglotcomponent.mapper.entity.ParkParkedHisCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from plc.park_parked_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from plc.park_parked_his
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from plc.park_parked_his
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.eg.egsc.scp.parkinglotcomponent.mapper.entity.ParkParkedHisCriteria" >
    delete from plc.park_parked_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eg.egsc.scp.parkinglotcomponent.mapper.entity.ParkParkedHis" >
    insert into plc.park_parked_his (uuid, device_code, device_name, 
      map_id, carport_code, car_num, 
      car_num_color, car_color, car_mark, 
      owner_id, park_start, park_date, 
      alarm_status, park_type, img_url, 
      court_uuid, create_time, update_time, 
      create_user, update_user)
    values (#{uuid,jdbcType=VARCHAR}, #{deviceCode,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, 
      #{mapId,jdbcType=VARCHAR}, #{carportCode,jdbcType=VARCHAR}, #{carNum,jdbcType=VARCHAR}, 
      #{carNumColor,jdbcType=VARCHAR}, #{carColor,jdbcType=VARCHAR}, #{carMark,jdbcType=VARCHAR}, 
      #{ownerId,jdbcType=VARCHAR}, #{parkStart,jdbcType=TIMESTAMP}, #{parkDate,jdbcType=TIMESTAMP}, 
      #{alarmStatus,jdbcType=SMALLINT}, #{parkType,jdbcType=SMALLINT}, #{imgUrl,jdbcType=VARCHAR}, 
      #{courtUuid,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eg.egsc.scp.parkinglotcomponent.mapper.entity.ParkParkedHis" >
    insert into plc.park_parked_his
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="deviceCode != null" >
        device_code,
      </if>
      <if test="deviceName != null" >
        device_name,
      </if>
      <if test="mapId != null" >
        map_id,
      </if>
      <if test="carportCode != null" >
        carport_code,
      </if>
      <if test="carNum != null" >
        car_num,
      </if>
      <if test="carNumColor != null" >
        car_num_color,
      </if>
      <if test="carColor != null" >
        car_color,
      </if>
      <if test="carMark != null" >
        car_mark,
      </if>
      <if test="ownerId != null" >
        owner_id,
      </if>
      <if test="parkStart != null" >
        park_start,
      </if>
      <if test="parkDate != null" >
        park_date,
      </if>
      <if test="alarmStatus != null" >
        alarm_status,
      </if>
      <if test="parkType != null" >
        park_type,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="courtUuid != null" >
        court_uuid,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="deviceCode != null" >
        #{deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="mapId != null" >
        #{mapId,jdbcType=VARCHAR},
      </if>
      <if test="carportCode != null" >
        #{carportCode,jdbcType=VARCHAR},
      </if>
      <if test="carNum != null" >
        #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="carNumColor != null" >
        #{carNumColor,jdbcType=VARCHAR},
      </if>
      <if test="carColor != null" >
        #{carColor,jdbcType=VARCHAR},
      </if>
      <if test="carMark != null" >
        #{carMark,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null" >
        #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="parkStart != null" >
        #{parkStart,jdbcType=TIMESTAMP},
      </if>
      <if test="parkDate != null" >
        #{parkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="alarmStatus != null" >
        #{alarmStatus,jdbcType=SMALLINT},
      </if>
      <if test="parkType != null" >
        #{parkType,jdbcType=SMALLINT},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="courtUuid != null" >
        #{courtUuid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eg.egsc.scp.parkinglotcomponent.mapper.entity.ParkParkedHisCriteria" resultType="java.lang.Integer" >
    select count(*) from plc.park_parked_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update plc.park_parked_his
    <set >
      <if test="record.uuid != null" >
        uuid = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceCode != null" >
        device_code = #{record.deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceName != null" >
        device_name = #{record.deviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.mapId != null" >
        map_id = #{record.mapId,jdbcType=VARCHAR},
      </if>
      <if test="record.carportCode != null" >
        carport_code = #{record.carportCode,jdbcType=VARCHAR},
      </if>
      <if test="record.carNum != null" >
        car_num = #{record.carNum,jdbcType=VARCHAR},
      </if>
      <if test="record.carNumColor != null" >
        car_num_color = #{record.carNumColor,jdbcType=VARCHAR},
      </if>
      <if test="record.carColor != null" >
        car_color = #{record.carColor,jdbcType=VARCHAR},
      </if>
      <if test="record.carMark != null" >
        car_mark = #{record.carMark,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerId != null" >
        owner_id = #{record.ownerId,jdbcType=VARCHAR},
      </if>
      <if test="record.parkStart != null" >
        park_start = #{record.parkStart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.parkDate != null" >
        park_date = #{record.parkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.alarmStatus != null" >
        alarm_status = #{record.alarmStatus,jdbcType=SMALLINT},
      </if>
      <if test="record.parkType != null" >
        park_type = #{record.parkType,jdbcType=SMALLINT},
      </if>
      <if test="record.imgUrl != null" >
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.courtUuid != null" >
        court_uuid = #{record.courtUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update plc.park_parked_his
    set uuid = #{record.uuid,jdbcType=VARCHAR},
      device_code = #{record.deviceCode,jdbcType=VARCHAR},
      device_name = #{record.deviceName,jdbcType=VARCHAR},
      map_id = #{record.mapId,jdbcType=VARCHAR},
      carport_code = #{record.carportCode,jdbcType=VARCHAR},
      car_num = #{record.carNum,jdbcType=VARCHAR},
      car_num_color = #{record.carNumColor,jdbcType=VARCHAR},
      car_color = #{record.carColor,jdbcType=VARCHAR},
      car_mark = #{record.carMark,jdbcType=VARCHAR},
      owner_id = #{record.ownerId,jdbcType=VARCHAR},
      park_start = #{record.parkStart,jdbcType=TIMESTAMP},
      park_date = #{record.parkDate,jdbcType=TIMESTAMP},
      alarm_status = #{record.alarmStatus,jdbcType=SMALLINT},
      park_type = #{record.parkType,jdbcType=SMALLINT},
      img_url = #{record.imgUrl,jdbcType=VARCHAR},
      court_uuid = #{record.courtUuid,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.eg.egsc.scp.parkinglotcomponent.mapper.entity.ParkParkedHis" >
    update plc.park_parked_his
    <set >
      <if test="deviceCode != null" >
        device_code = #{deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="mapId != null" >
        map_id = #{mapId,jdbcType=VARCHAR},
      </if>
      <if test="carportCode != null" >
        carport_code = #{carportCode,jdbcType=VARCHAR},
      </if>
      <if test="carNum != null" >
        car_num = #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="carNumColor != null" >
        car_num_color = #{carNumColor,jdbcType=VARCHAR},
      </if>
      <if test="carColor != null" >
        car_color = #{carColor,jdbcType=VARCHAR},
      </if>
      <if test="carMark != null" >
        car_mark = #{carMark,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null" >
        owner_id = #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="parkStart != null" >
        park_start = #{parkStart,jdbcType=TIMESTAMP},
      </if>
      <if test="parkDate != null" >
        park_date = #{parkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="alarmStatus != null" >
        alarm_status = #{alarmStatus,jdbcType=SMALLINT},
      </if>
      <if test="parkType != null" >
        park_type = #{parkType,jdbcType=SMALLINT},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="courtUuid != null" >
        court_uuid = #{courtUuid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eg.egsc.scp.parkinglotcomponent.mapper.entity.ParkParkedHis" >
    update plc.park_parked_his
    set device_code = #{deviceCode,jdbcType=VARCHAR},
      device_name = #{deviceName,jdbcType=VARCHAR},
      map_id = #{mapId,jdbcType=VARCHAR},
      carport_code = #{carportCode,jdbcType=VARCHAR},
      car_num = #{carNum,jdbcType=VARCHAR},
      car_num_color = #{carNumColor,jdbcType=VARCHAR},
      car_color = #{carColor,jdbcType=VARCHAR},
      car_mark = #{carMark,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=VARCHAR},
      park_start = #{parkStart,jdbcType=TIMESTAMP},
      park_date = #{parkDate,jdbcType=TIMESTAMP},
      alarm_status = #{alarmStatus,jdbcType=SMALLINT},
      park_type = #{parkType,jdbcType=SMALLINT},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      court_uuid = #{courtUuid,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.eg.egsc.scp.parkinglotcomponent.mapper.entity.ParkParkedHisCriteria" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from plc.park_parked_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>